
.gridContainer {
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(234, 55, 213);
  gap: 10px;
  padding: 20px;
  margin: 20px;
}

.gridItem {
  background-color: azure;
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.gridItem:hover {
  background-color: transparent;
  border-color: #c45db8;
  color: #9d3089;
}